{% extends "layouts/master.twig" %}

{% block title %} Home {% endblock %}

{% block content %} 
    <h1>Content Here</h1> 
{% endblock %}

{% block footer %} 
    <p>This is the footer</p> 
{% endblock %}