RewriteEngine On
RewriteBase /scaffold/public

# Allow any files or directories that exist to be displayed directly
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Rewrite all other URLs to index.php/URL
RewriteRule ^(.*)$ index.php?/$1 [L,QSA]

# Handle any errors PHP doesn't catch
ErrorDocument 404 index.php
ErrorDocument 500 index.php
ErrorDocument 403 index.php