/*
    This is just the core CSS used in Scaffold's default views.
    You're more than welcome to delete this.
*/

* {
    margin: 0;
    padding: 0;
    
    -webkit-font-smoothing: antialiased;
}

html, body {
    height: 100%;
}
    body {
        background: #f7f5f0;
    }