/*
    This is just the core CSS used in Scaffold's default views.
    You're more than welcome to delete this.
*/

* {
    margin: 0;
    padding: 0;
    
    -webkit-font-smoothing: antialiased;
}

html, body {
    height: 100%;
}
body {
    background: #cadcee;
    color: #607d9a;
    
    font: 16px/24px "Proxima Nova Soft", "Helvetica Neue", sans-serif;
    
    position: relative;
    left: -40px;
    
    width: 80%;
    min-width: 300px;
    max-width: 800px;
    
    margin: 0 auto;
    padding-left: 80px;
}
    body:after {
        content: '';
        position: absolute;
        left: 0;
        top: 100px;
        
        width: 29px;
        height: 29px;
        
        background: url('../img/sheep.png');
    }
    
h1, h2, h3 {
    font-weight: lighter;
    padding-bottom: .5em;
    
    color: #34608c;
}
    h1 {
        padding-top: 100px;
        font-size: 40px;
    }
    h2 {
        padding-top: 20px;
    }
    
code {
    font-size: 14px;
    color: #fff;
    background: #8bb3dc;
    
    display: inline-block;
    padding: 0 5px;
}

small {
    display: block;
    position: absolute;
    bottom: 40px;
    
    font-size: 12px;
    color: #6787a7;
}

p {
    padding-bottom: .9em;
}

a {
    display: inline-block;
    padding: 0 4px;
    margin: -1px 2px;
    
    background: #d2e2f2;
    color: #205e9c;
    text-decoration: none;
}
    a:hover {
        background: #d9e8f6;
        color: #0c3a68;
    }
    
@media (max-height: 475px) {
    small {
        position: static;
    }
}