/*
	This is just the core CSS used in Scaffold's default views.
	You're more than welcome to delete this.
*/

* {
	margin: 0;
	padding: 0;
	
	-webkit-font-smoothing: antialiased;
}

html, body {
	height: 100%;
}
	body {
		background: #f7f5f0 url('../img/scaffold-logo.png') fixed no-repeat 40px 40px;
		color: #6d6054;
		
		font: 15px/25px "Proxima Nova", sans-serif;
		
		width: 70%;
		margin: 100px auto;
	}
	
p {
	padding-bottom: 15px;
}